---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Hello, I'm Yash Sharma, a passionate web developer dedicated to crafting exceptional online experiences. With a strong foundation in web technologies and a keen eye for design, I strive to create websites that are not only visually appealing but also highly functional and user-friendly.
My journey in web development began with a deep curiosity for coding and a desire to bring ideas to life on the digital canvas. Over the years, I have honed my skills in front-end development, mastering HTML, CSS, and JavaScript, to create dynamic and interactive websites that engage and captivate users.
I believe in the power of collaboration and effective communication. Working closely with clients and understanding their unique goals and visions, I ensure that every project I undertake is tailored to meet their specific needs. Whether it's building a responsive website from scratch or enhancing an existing one, I approach each task with creativity, attention to detail, and a commitment to delivering high-quality results.
In addition to my technical expertise, I continuously stay updated with the latest industry trends and best practices. This allows me to incorporate cutting-edge technologies and frameworks into my work, ensuring that the websites I develop are not only modern but also optimized for performance and search engine visibility.
I am enthusiastic about taking on new challenges and expanding my skill set. As a lifelong learner, I am always exploring new avenues for growth and improvement. Through my dedication, reliability, and a genuine passion for what I do, I strive to exceed expectations and make a positive impact in the world of web development.
If you're looking for a talented and dedicated web developer to bring your ideas to life, I'd love to hear from you. Let's collaborate and create something amazing together!"
		</p>
	</div>
</section>
